<!doctype html>
<html lang="zh-CN" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="zzl">
    <title>{{name}} - {{description}}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{static_url('css/bootstrap.min.css')}}" rel="stylesheet" />
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body class="">
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="{{static_url('svg/incognito.svg')}}" alt="" width="72" height="72">
        <!-- <h2></h2> -->
        <p class="lead"><b>{{name}}</b> - {{description}}</p>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; zzl<18701392307@163.com></p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
